@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root {
  --font: "Montserrat", "Arial", sans-serif;
  --color: #000c24;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 14px;
  line-height: 17px;
  color: var(--color);
  min-width: 1440px;
}

.container {
  width: 1110px;
  padding: 0 50px;
  margin: 0 auto;
}

.site-header {
  padding-top: 19px;
  padding-bottom: 17px;
  -webkit-box-shadow: 0 4px 10px rgba(190, 190, 190, 0.15);
          box-shadow: 0 4px 10px rgba(190, 190, 190, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.site-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 570px;
  margin: 0 120px 0 10px;
}

.site-header__navigation {
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search__panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 8px 15px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #0449ec;
  border-radius: 0;
}

.search__panel::-webkit-input-placeholder {
  font-family: inherit;
  color: rgba(0, 12, 34, 0.4);
}

.search__panel:-ms-input-placeholder {
  font-family: inherit;
  color: rgba(0, 12, 34, 0.4);
}

.search__panel::-ms-input-placeholder {
  font-family: inherit;
  color: rgba(0, 12, 34, 0.4);
}

.search__panel::placeholder {
  font-family: inherit;
  color: rgba(0, 12, 34, 0.4);
}

.search__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  min-height: 36px;
  padding: 0 25px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  background-color: #0449ec;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list li:not(:last-of-type) {
  margin: 0 26px 0 0;
}

.nav__item {
  margin-right: 25px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
  color: #000c24;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.nav__link:hover,
.nav__link :focus {
  opacity: 0.7;
}

.nav__link:active {
  opacity: 0.5;
}

.nav__link--user {
  position: relative;
}

.nav__link--user::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  background: url("../img/user.svg") no-repeat 50% 50%;
  background-size: contain;
}

.nav__link--favorite {
  position: relative;
}

.nav__link--favorite::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  background: url("../img/heart.svg") no-repeat 50% 50%;
  background-size: contain;
}

.nav__link--cart {
  position: relative;
}

.nav__link--cart::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  background: url("../img/cart.svg") no-repeat 50% 50%;
  background-size: contain;
}

.site-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.site-main__title {
  font-size: 2em;
  margin: 0.67em 0;
}

.site-main__sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.sidebar__nav {
  max-width: 255px;
  max-height: 590px;
  margin: 0 0 40px;
  border: 1px solid rgba(0, 12, 34, 0.1);
  -webkit-box-shadow: 0 4px 10px rgba(190, 190, 190, 0.15);
          box-shadow: 0 4px 10px rgba(190, 190, 190, 0.15);
  border-radius: 8px;
}

.sidebar__list {
  margin: 0;
  padding: 0 40px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar__list:first-of-type {
  padding-top: 40px;
  padding-bottom: 18px;
}

.sidebar__list:not(:first-of-type) {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 12, 34, 0.1);
}

.sidebar__list:last-of-type {
  padding-bottom: 39px;
}

.sidebar__list:not(:last-of-type) {
  margin: 0 0 20px;
}

.sidebar__item {
  margin-bottom: 20px;
}

.sidebar__item:last-child {
  margin-bottom: 0;
}

.sidebar__item--open .title {
  color: #0449ec;
}

.sidebar__item--open .content {
  display: block;
}

.sidebar__title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000c24;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.sidebar__title:hover,
.sidebar__title :focus {
  opacity: 0.7;
}

.sidebar__title:active {
  opacity: 0.5;
}

.sidebar__content {
  display: none;
}

.sidebar__submenu {
  margin-bottom: 10px;
}

.sidebar__promo {
  border-radius: 8px;
  overflow: hidden;
}

.submenu:not(:last-of-type) {
  margin: 0 0 10px;
}

.submenu__list {
  padding: 15px 0 0 15px;
  list-style: none;
}

.submenu__item {
  margin-bottom: 10px;
}

.submenu__link {
  font-size: 14px;
  line-height: 17px;
  color: #000c24;
  text-decoration: none;
}

.submenu__btn {
  padding: 5px 0 5px;
  margin-left: 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0449ec;
  background: none;
  border: none;
  cursor: pointer;
}

.promo__link {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.promo__link:hover,
.promo__link :focus {
  opacity: 0.7;
}

.promo__link:active {
  opacity: 0.5;
}

.content__title {
  margin: 0.65em 1.45em 1em;
}

.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content__item {
  margin: 0 0 40px 30px;
}

.content__link {
  display: block;
  text-decoration: none;
  color: #000c24;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.content__link:hover,
.content__link :focus {
  opacity: 0.7;
}

.content__link:active {
  opacity: 0.5;
}

.content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  max-width: 255px;
  max-height: 173px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
