.content {
	&__title {
		margin: 0.65em 1.45em 1em;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin: 0 0 40px 30px;
	}
	&__link {
		display: block;
		text-decoration: none;
		color: #000c24;
		transition: opacity 0.3s ease;
		&:hover,
		:focus {
			opacity: 0.7;
		}
		&:active {
			opacity: 0.5;
		}
	}
	&__img {
		display: flex;
		margin-bottom: 10px;
		max-width: 255px;
		max-height: 173px;
		object-fit: cover;
	}
	&__subtitle {
		margin: 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.03em;
	}
}
