.nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        li:not(:last-of-type) {
            margin: 0 26px 0 0;
        }
    }
    &__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 12px;
        color: #000c24;
        text-decoration: none;
        transition: opacity 0.3s ease;
        &:hover,
        :focus {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.5;
        }
        &--user {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                margin-bottom: 20px;
                background: url("../img/user.svg") no-repeat 50% 50%;
                background-size: contain;
            }
        }
        &--favorite {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                margin-bottom: 20px;
                background: url("../img/heart.svg") no-repeat 50% 50%;
                background-size: contain;
            }
        }
        &--cart {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                margin-bottom: 20px;
                background: url("../img/cart.svg") no-repeat 50% 50%;
                background-size: contain;
            }
        }
    }
}
