.search {
    &__title {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    &__panel {
        flex-grow: 1;
        margin: 0;
        padding: 8px 15px;
        font-family: inherit;
        font-weight: 500;
        font-size: 14px;
        border: 1px solid #0449ec;
        border-radius: 0;
        &::placeholder {
            font-family: inherit;
            color: rgba(0, 12, 34, 0.4);
        }
    }
    &__btn {
        flex-shrink: 0;
        margin: 0;
        min-height: 36px;
        padding: 0 25px;
        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        border: none;
        border-radius: 0;
        background-color: #0449ec;
        transition: opacity 0.3s ease;
    }
}
