.sidebar {
    &__nav {
        max-width: 255px;
        max-height: 590px;
        margin: 0 0 40px;
        border: 1px solid rgba(0, 12, 34, 0.1);
        box-shadow: 0 4px 10px rgba(190, 190, 190, 0.15);
        border-radius: 8px;
    }
    &__list {
        margin: 0;
        padding: 0 40px;
        list-style: none;
        box-sizing: border-box;
        &:first-of-type {
            padding-top: 40px;
            padding-bottom: 18px;
        }
        &:not(:first-of-type) {
            padding-top: 20px;
            border-top: 1px solid rgba(0, 12, 34, 0.1);
        }
        &:last-of-type {
            padding-bottom: 39px;
        }
        &:not(:last-of-type) {
            margin: 0 0 20px;
        }
    }
    &__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &--open {
            & .title {
                color: #0449ec;
            }
            & .content {
                display: block;
            }
        }
    }
    &__title {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000c24;
        text-decoration: none;
        transition: opacity 0.3s ease;
        &:hover,
        :focus {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.5;
        }
    }
    &__content {
        display: none;
    }
    &__submenu {
        margin-bottom: 10px;
    }
    &__promo {
        border-radius: 8px;
        overflow: hidden;
    }
}

@import "_submenu";
@import "_promo";
