.site-main {
	display: flex;
	padding-top: 30px;
	&__title {
		font-size: 2em;
		margin: 0.67em 0;
	}
	&__sidebar {
		position: sticky;
		top: 20px;
	}
	&__content {
	}
}

@import "_sidebar";
@import "_content";
